.DS_Store
.dart_tool/

.packages
.pub/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
/example/ios/Flutter/flutter_export_environment.sh
